.ab {
    padding: 20px;
}

table {
    width: 80%;
    border-collapse: collapse; /* Ensures borders are collapsed */
    margin: 0 auto; /* Centers the table */
    border: 3px solid #1d1b1b; /* Outer border for the table */
    border-radius: 5px; /* Optional: gives rounded corners */
    overflow: hidden; /* remove the table 1st line */
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Border for bottom of cells */
}

th {
    background-color: #f2f2f2; /* Header background color */
    border-top: 1px solid #0c0b0b; /* Top border for header */
}

td {
    border-right: 1px solid #ddd; /* Right border for each cell */
}



button {
    padding: 8px 30px;
    color: white;
    background-color: red;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}
